# Composer
vendor
composer.phar

# IntelliJ - PhpStorm and PyCharm
.idea
*.ipr
*.iws

# Eclipse
/.project
/.settings
/.classpath

# Logs
logs
error.log
access.log

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
# I might want to have build
# build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac OSX
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

# Dart
packages
packages/*

# Vagrant
.vagrant
.vagrant/*

# Dotenv
.env

# Eclipse
/.project
/.settings
/.classpath

# Maven
/target

# node
node_modules

# VS Code
.code

# personal
download/
data/
.local_config
devNote.txt
.local_keys
